<div class="top col-lg-12">
	<h1>{{title}}</h1>
	<hr>

	<div class="row">		
		<div class="col-lg-4 inner-addon right-addon">
			<i class="glyphicon glyphicon-search"></i>			
			<input type="text" class="form-control"  [(ngModel)]="busqueda" placeholder="Buscar por tarea">			
		</div>
		<div class="label label-success" *ngIf="busqueda">
			Termino de busqueda <strong>{{busqueda}}</strong>
		</div>
	</div>
	<br>

	<table class="table table-hover">
		<thead class="thead-default">
			<tr>
				<th>Nombre</th>
				<th>Referencia</th>
				<th>Talla</th>
				
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let homework of homeworks | search: busqueda">				
				<td>{{homework.name}}</td>
				<td>{{homework.reference}}</td>
				<td>{{homework.size}}</td>
				<td>
					
					<a class="btn btn-sm btn-success" [routerLink]="['/admin-panel/detalles-tarea/', homework._id]">
						<span class="glyphicon glyphicon-eye-open" arial-hidden="true"></span>
						Ver
					</a>
					
					<a class="btn btn-sm btn-primary" [routerLink]="['/admin-panel/editar-tarea/', homework._id]">
						<span class="glyphicon glyphicon-pencil" arial-hidden="true"></span>
						Editar
					</a>
					<a href="#myModal-{{homework._id}}" role="button" data-toggle="modal" class="btn btn-sm btn-danger">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Borrar
					</a>
					<div id="myModal-{{homework._id}}" class="modal fade">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">Estas seguro?</h4>
					            </div>
					            <div class="modal-body">
					                <p>Estas seguro que quieres eliminar la tarea <strong>{{homework.name}}</strong></p>
					                <p class="text-warning"><small>Si borras esta tarea no podras recuperarla</small></p>
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					                <button type="button" class="btn btn-danger" (click)="deleteHomework(homework._id)">Borrar</button>
					            </div>
					        </div>
					    </div>
					</div>						
						<a [routerLink]="['/admin-panel/codigo-barras', homework._id]" class="btn btn-sm btn-primary">
							<span class="glyphicon glyphicon-barcode" ></span>
							Código barras
						</a>
						
					
				</td>
			</tr>
		</tbody>
	</table>
</div>
